
html{
   width: 100%;
    margin: 0;
}
/* FORM-tyyli Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #333;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #333;
}

/* Add a background color and some padding around the form */
.form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 400px;
}

.header {
    background-color: #747980;
    color: #ccc;
    padding: 20px;
    text-align: center;
}
body{
    background: #fff;
    color: #999;
    font-family: 'Exo 2', sans-serif;
    width: 100%;
    margin: 0;
    display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* image gallery */
div.gallery {
    border: 1px solid #ccc;
    background: #747980;
    color: #ccc;
}

div.gallery:hover {
    border: 1px solid #101010;
     background: #101010;
}

div.gallery img {
    width: 100%;
    height: 200px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

/* Style the links inside the navigation bar */

.topnav a {
    display: flex;
    flex-direction: row;
     align-items: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 5px;
    text-decoration: none;
    font-size: 17px;
    flex: 1;
    justify-content: center;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #747980;
    color: white;
    
}

#footer {
    background-color: #747980;
    padding: 10px;
    text-align: center;
    margin: auto auto 0 auto;
    width: 100%;
}
.front-images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 
}
img{
    object-fit: cover;
    border: 5px solid #747980;
}

a{
     text-decoration: none;
    color: #ccc;
}

